$gray:      #ccc;
$red:       #cc0000;
$white:     #fff;
$green:     #73ad27;

$primary:   #002d60;
$secondary: #034ebc;

$light:     #f6f6f6;
$lightGray: #f6f6f6;
$dark:      #646464;
$color-text:#333;
$text_color:#333;

$corn:      #fff9e5;
